doctype 5
html
  head
    title DJ's Personal Site
    link(rel='icon', type='image/png', href='http://dev.dedmonson.com/favicon.png')
    link(rel='stylesheet', href='./stylesheets/bootstrap.css')
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    include navbar
    block content
    include footer
    script(src='http://code.jquery.com/jquery-1.8.3.min.js')
    script(src='./js/bootstrap.js')
    script(src='./js/site.js')
