extends layout

block content
  asn0 = 1
  include navbar
  include alerts
  .container-fluid
    .row-fluid
      .span2.offset1
        .well.sidebar-nav-affix-top
          ul.nav.nav-list
            li.nav-header Assignment 1
            li: a(href='#overview') Overview
            li: a(href='#pics') Screen Shots
            li: a(href='#ack') Acknowledgements
            li: a(href='#download') Download Links
      .span8
        #overview
        h3 Overview
        #pics
        h3 Screen Shots
        #ack
        h3 Acknowledgements
        #download
        h3 Download Links
