extends layout

block content
  include navbar
  include alerts
  .container-fluid
    .row-fluid
      .span2.well
        ul.nav.nav-list
          li.nav-header Assignment 1
          li: a(href='#overview') Overview
          li: a(href='#pics') Screen Shots
          li: a(href='#ack') Acknowledgements
          li: a(href='#download') Download Links
