extends layout

block content
  asn1 = 1
  include navbar
  include alerts
  .container
    .row
      .span2
        .well.sidebar-nav-affix-top
          ul.nav.nav-list
            li.nav-header Assignment 1
            li: a(href='#overview') Overview
            li: a(href='#pics') Screen Shots
            li: a(href='#ack') Acknowledgements
            li: a(href='#download') Download Links
      .span10
        #overview
        h3 Overview
        #pics
        h3 Screen Shots
        #ack
        h3 Acknowledgements
        #download
        h3 Download Links
