extends layout

block content
  asn2 = 1
  include navbar
  include alerts
  .container-fluid
    .row-fluid
      .span10.offset1
        .hero-unit
          h1 Assignment 2
          h2 SecureNote v0.2
    .row-fluid
      .span2.offset1
        .well.sidebar-nav-affix-top
          ul.nav.nav-list
            li.nav-header Hello World
            li: a(href='#overview') Overview
            li: a(href='#pics') Screen Shots
            li: a(href='#ack') Acknowledgements
            li: a(href='#download') Download Links
      .span8
        #overview.in-page-link
          p.text-warning
            strong= "Warning: "
            |This application uses api v17, will crash on lower api versions!
          h3 Overview
          p
            |This application is the start to a secure note taking
            |and sharing platform. In this version the user creation,
            |authentication, and note creation is implemented on top
            |of an SQLite database. User passwords are secured using AES512
            |encryption and encoded in Base64 for storage. The master key
            |is derived from the devices unique id.
          p
            |The user registration screen puts the password through simple check
            |and makes sure the confirmation is correct. The login screen gives
            |error feedback based on your input and the data in the database.
          p
            |Notes are stored based on the user who creates them.
          h4 New in version 2
          p
            |You can now edit the notes body. When you create a note you are taken
            |to the edit screen, and when you tap on an entry in the list view you
            |are taken to the edit view to edit the note.
          p
            |Also added Toast views to inform use to action happening in the application,
            |and changed cryptogriphy scheme so old data will not work with the new version.
        #pics.in-page-link
          h3 Screen Shots
          ul.thumbnails
            li.span4
              .thumbnail
                img(src='./assets/asn2-ss1.png',width=212,height=350)
              br
              p
                |Error alert view for when the username provided is not
                |found in the database
              br
              br
              .thumbnail
                img(src='./assets/asn2-ss3.png',width=212,height=350)
              br
              p
                |Error alert view when the password for the username is
                |not correct
            li.span4
              .thumbnail
                img(src='./assets/asn2-ss2.png',width=212,height=350)
              br
              p
                |View when you create a new note. Title is filled in by default
                |and the body is blank. It only adds an entry to the database
                |if you save the note.
              .thumbnail
                img(src='./assets/asn2-ss4.png',width=212,height=350)
              br
              p
                |The view is filled in with the data from existing notes
                |when you go to edit them. When you save, the database entry
                |is updated.
        #ack.in-page-link
          h3 Acknowledgements
          ul
            li Android Developer site - used for class references and toast referance
            li StackOverflow - General questions during development.

        #download.in-page-link
          h3 Download Links
          ul
            li
              a(href='./assets/dedmons.assignment2.tar.gz') Tarball Archive
              p= "Open with "
                code tar -xzvf dedmons.assignment2.tar.gz
                br
                |This will expand to the directory dedmons.secureNote
            li
              a(href='./assets/dedmons.assignment2.zip') Zip Archive
